@charset "utf-8";
#movers-row {
	margin: -120px 0 0 120px;
}
#movers-row div {
	width: 33.3%;
	float: left;
}
#movers-row div img {
	float: right;
}
body {
	padding-top: 70px;
	padding-bottom: 30px;
}
.theme-dropdown .dropdown-menu {
	display: block;
	position: static;
	margin-bottom: 20px;
}
.theme-showcase > p > .btn {
	margin: 5px 0;
}
html {
	height: 100%;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
}
.container-fluid {
	height: 100%;
	display: table;
	width: 100%;
	padding: 0;
}
.row-fluid {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.centering {
	float: none;
	margin: 0 auto;
}
@font-face {
	font-family: 'social media';
	src: url('fonts/social media.eot');
	src: url('fonts/social media.eot?#iefix') format('embedded-opentype'),  url('fonts/social media.ttf') format('truetype'),  url('fonts/social media.woff') format('woff'),  url('fonts/social media.svg#social media') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'social media';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-google-plus:before {
	content: "\e602";
}
.icon-youtube:before {
	content: "\e603";
}
.icon-youtube2:before {
	content: "\e604";
}
.icon-google-plus2:before {
	content: "\e605";
}
.icon-facebook2:before {
	content: "\e606";
}
.icon-twitter2:before {
	content: "\e607";
}
body {
	padding-bottom: 40px;
	color: #5a5a5a;
}
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
}
.navbar-wrapper .container {
	padding-left: 0;
	padding-right: 0;
}
.navbar-wrapper .navbar {
	padding-left: 15px;
	padding-right: 15px;
}
.carousel {
	height: 500px;
	margin-bottom: 60px;
}
.carousel-caption {
	z-index: 10;
}
.carousel .item {
	height: 500px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}
.marketing {
	padding-left: 15px;
	padding-right: 15px;
}
.marketing .col-lg-4 {
	text-align: center;
	margin-bottom: 20px;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-left: 10px;
	margin-right: 10px;
}
.featurette-divider {
	margin: 80px 0;
}
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

@media (min-width: 768px) {
.marketing {
	padding-left: 0;
	padding-right: 0;
}
.navbar-wrapper {
	margin-top: 20px;
}
.navbar-wrapper .container {
	padding-left: 15px;
	padding-right: 15px;
}
.navbar-wrapper .navbar {
	padding-left: 0;
	padding-right: 0;
}
.navbar-wrapper .navbar {
	border-radius: 4px;
}
.carousel-caption p {
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 1.4;
}
.featurette-heading {
	font-size: 50px;
}
}

@media (min-width: 992px) {
.featurette-heading {
	margin-top: 120px;
}
}