@import url(http://highland-2823.com/custom.css);
@import url(http://highland-2823.com/css/bootstrap.min.css);
@import url(http://highland-2823.com/css/bootstrap-theme.min.css)

body {
background-color: #FFFFFF;
}

html {
	margin: 0;
	padding: 0;
}

.header-top {
	margin-top: 20px;
}